<video #videoRef [srcObject]="stream" (play)="onPlay(videoRef)" [class.hidden]="!shouldPlay" id="videoRef" autoplay muted [width]="width" [height]="height"></video>
<canvas #overlayRef id="overlayRef"></canvas>
<div class="buttons" [class.absolute]="shouldPlay">
  <span *ngIf="!shouldPlay">Webcam Input: </span>
  <button  *ngIf="!shouldPlay" (click)="startStream()">Start</button>
  <button  *ngIf="shouldPlay" (click)="stopStream()">Stop</button>
  <button  *ngIf="shouldPlay" (click)="onCapture()">Capture</button>
</div>